html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  user-select: none;
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

body {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #007f7e;
}

#fieldContainer {
  display: inline-block;
}

.panel {
  background: #c0c0c0;
  border: 1px solid #ffffff;
  border-right-color: #303030;
  border-bottom-color: #303030;
  display: inline-block;
  position: absolute;
  top: 10px;
  min-width: 156px;
  min-height: 233px;
}

.panel > .inner {
  border: 1px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.panel.down {
  border: 1px solid #303030;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}

.panel.down > .inner {
  border: 1px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.panel .header {
  background-image: linear-gradient(to right, #00008b, #0083d7);
  color: white;
  padding: 3px 3px 0;
}

.header .title {
  vertical-align: top;
  padding-top: 1px;
  display: inline-block;
}

.header .icon {
  background: url("../img/Minewsweeper32icon-windows9598ME.png") no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.menu {

}

.menu .item {
  padding: 5px;
  display: inline-block;
}

.raised-content {
  border: 3px solid #fff;
  border-right-color: #8f8f8f;
  border-bottom-color: #8f8f8f;
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 2px;
  top: 42px;
  padding: 5px;
}

.sunken-content {
  border: 2px solid #8f8f8f;
  border-right-color: #fff;
  border-bottom-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.sunken-content:last-of-type {
  margin-top: 5px;
}

.score {
  background-color: #303030;
  width: 40px;
  height: 20px;
  color: red;
  padding: 2px;
  font-family: monospace;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
}

.smiley {
  font-size: 16px;
  line-height: 16px;
  min-width: 20px;
  min-height: 20px;
  position: relative;
  top: 0;
}

.smiley .inner {
  padding-top: 1px;
  cursor: default;
}

.cell {
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  width: 16px;
  height: 16px;
  background: url("../img/Minesweepertiles-windows9598ME.png") no-repeat 0 0;
}

.pressed-0 {
  background-position: 0 -240px;
}

.pressed-1 {
  background-position: 0 -224px;
}

.pressed-2 {
  background-position: 0 -208px;
}

.pressed-3 {
  background-position: 0 -192px;
}

.pressed-4 {
  background-position: 0 -176px;
}

.pressed-5 {
  background-position: 0 -160px;
}

.pressed-6 {
  background-position: 0 -144px;
}

.pressed-7 {
  background-position: 0 -128px;
}

.pressed-8 {
  background-position: 0 -112px;
}

.pressed-question {
  background-position: 0 -96px;
}

.pressed-bomb {
  background-position: 0 -80px;
}

.pressed-cross {
  background-position: 0 -64px;
}

.pressed-bomb-red {
  background-position: 0 -48px;
}

.question {
  background-position: 0 -32px;
}

.flag {
  background-position: 0 -16px;
}

.button {
  min-width: 15px;
  min-height: 15px;
  position: static;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}

.button .inner {
  position: static;
  width: 13px;
  height: 13px;
}

.header .button {
  float: right;
}