html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  user-select: none;
}

html, body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

body {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #55aaaa;
}

#fieldContainer {
  display: inline-block;
}

.panel {
  background: #c0c0c0;
  border: 1px solid #ffffff;
  border-right-color: #303030;
  border-bottom-color: #303030;
  display: inline-block;
  position: absolute;
  top: 10px;
  min-width: 156px;
  min-height: 100px;
}

.panel > .inner {
  border: 1px solid #fff;
  border-right-color: #808080;
  border-bottom-color: #808080;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.panel.down {
  border: 1px solid #303030;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}

.panel.down > .inner {
  border: 1px solid #808080;
  border-right-color: #fff;
  border-bottom-color: #fff;
}

.panel .header {
  background-image: linear-gradient(to right, #00008b, #0083d7);
  color: white;
  padding: 3px 3px 0;
}

.header .title {
  vertical-align: top;
  padding-top: 1px;
  display: inline-block;
}

.header .icon {
  background: url("../img/Minewsweeper32icon-windows9598ME.png") no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.menu {

}

.menu .item {
  /*padding: 5px;*/
  display: inline-block;
}

.raised-content {
  border: 3px solid #fff;
  border-right-color: #8f8f8f;
  border-bottom-color: #8f8f8f;
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 2px;
  top: 42px;
  padding: 5px;
}

.sunken-content {
  border: 2px solid #8f8f8f;
  border-right-color: #fff;
  border-bottom-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.sunken-content:last-of-type {
  margin-top: 5px;
}

.score {
  /*background-color: #000000;*/
  width: 39px;
  height: 23px;
  padding: 0;
}

.num {
  background-image: url("../img/numbers.png");
  background-repeat: no-repeat;
  width: 13px;
  height: 23px;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.num0 {
  background-position: -126px 0;
}
.num1 {
  background-position: -0 0;
}
.num2 {
  background-position: -14px 0;
}
.num3 {
  background-position: -28px 0;
}
.num4 {
  background-position: -42px 0;
}
.num5 {
  background-position: -56px 0;
}
.num6 {
  background-position: -70px 0;
}
.num7 {
  background-position: -84px 0;
}
.num8 {
  background-position: -98px 0;
}
.num9 {
  background-position: -112px 0;
}

.smiley {
  font-size: 15px;
  line-height: 16px;
  min-width: 23px;
  min-height: 23px;
  position: relative;
  top: 0;
}

.smiley .inner {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smiley .inner .icon {
  /*width: 15px;*/
}

.cell {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background: url("../img/Minesweepertiles-windows9598ME.png") no-repeat 0 0;
  line-height: 15px;
  padding-right: 2px;
  font-size: 10px;
  text-align: right;
}

.pressed-0 {
  background-position: 0 -240px;
}

.pressed-1 {
  background-position: 0 -224px;
}

.pressed-2 {
  background-position: 0 -208px;
}

.pressed-3 {
  background-position: 0 -192px;
}

.pressed-4 {
  background-position: 0 -176px;
}

.pressed-5 {
  background-position: 0 -160px;
}

.pressed-6 {
  background-position: 0 -144px;
}

.pressed-7 {
  background-position: 0 -128px;
}

.pressed-8 {
  background-position: 0 -112px;
}

.pressed-question {
  background-position: 0 -96px;
}

.pressed-bomb {
  background-position: 0 -80px;
}

.pressed-cross {
  background-position: 0 -64px;
}

.pressed-bomb-red {
  background-position: 0 -48px;
}

.question {
  background-position: 0 -32px;
}

.flag {
  background-position: 0 -16px;
}

.button {
  min-width: 15px;
  min-height: 15px;
  position: static;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}

.button .inner {
  position: static;
  width: 13px;
  height: 13px;
  font-size: 15px;
  line-height: 10px;
  text-align: center;
  color: #222222;
}

.header .button {
  float: right;
}

.minimize {
  display: inline-block;
  width: 8px;
  border-bottom: solid 2px #222222;
}

.maximize {
  display: inline-block;
  width: 9px;
  height: 9px;
  border: solid 1px #737373;
  border-top-width: 2px;
  border-bottom-color: #dfdfdf;
  border-right-color: #dfdfdf;
}

.maximize-inner {
  display: inline-block;
  width: 7px;
  height: 6px;
  border-top: solid 1px #dfdfdf;
  border-left: solid 1px #dfdfdf;
}

.close {
  font-weight: bolder;
}

/* DROPDOWN */
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 12px; 
  border: none;
  outline: none;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
  font-family: "Source Sans Pro", sans-serif;
}

/* TEST: Add a red background color to navbar links on hover */
/*.menu a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}*/

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c0c0c0;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: "Source Sans Pro", sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a white background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fff;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}